.follower {
  padding: 5px 0;

  img {
    border-radius: 5px;
    height: 50px;
    width: 50px;
  }
}

.followed-by-me {
  width: 50px;
}

button {
  width: 230px !important;
  margin: 10px !important;
}
