html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

footer {
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: right;
}

ul {
  padding: 0;
}

input {
  vertical-align: middle;
}

button {
  width: 400px !important;
  margin: 10px !important;
}

.avatar {
  border-radius: 5px;
  height: 50px;
  width: 50px;
}
