{% extends 'base.html' %}
{% load i18n static %}

{% block content %}
  <div id="followers">
    <button class="btn btn-primary form-control"
            @click="loadFollowers">{% trans 'Load followers' %}</button>
    <br><br>
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <div class="filters">
            <label for="hide-approved">{% trans 'Hide approved' %}</label>
            <input id="hide-approved" type="checkbox" v-model="hideApproved"><br>
            <label for="hide-followed">{% trans 'Hide following' %}</label>
            <input id="hide-followed" type="checkbox" v-model="hideFollowed">
          </div>
          <table v-cloak class="table">
            <tr>
              <th>{% trans 'Avatar' %}</th>
              <th>{% trans 'Name' %}</th>
              <th>{% trans 'Likes' %}</th>
              <th class="followed-by-me">{% trans 'Following' %}</th>
              <th>{% trans 'Approved' %}</th>
              <th>{% trans 'Block' %}</th>
            </tr>
            <tr v-for="follower in followers" class="follower"
                v-show="!(hideApproved && isApproved(follower)) && !(hideFollowed && follower.followed)">
              <td><a :href="follower.profile" target="_blank"><img :src="follower.avatar" :alt="follower.name"
                                                                   class="avatar"/></a>
              </td>
              <td><a :href="follower.profile" target="_blank">[[ follower.name ]]</a></td>
              <td>[[ follower.likes_count ]]</td>
              <td><input :id="follower.elementIdFollowed" type="checkbox" :checked="follower.followed"
                         @click="setFollowedStatus(follower)"></td>
              <td><input :id="follower.elementIdApproved" type="checkbox" :checked="isApproved(follower)"
                         :disabled="follower.followed" @click="setApprovedStatus(follower)"></td>
              <td>
                <button v-show="!follower.approved && !follower.followed" class="btn btn-primary form-control"
                        @click="block(follower)">{% trans 'Block' %}</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script>
    'use strict';

    urls.followers = '{% url 'followers' %}';
    urls.loadFollowers = '{% url 'load_followers' %}';

    vars.followers = JSON.parse('{{ followers|safe }}');
  </script>
  <script src="{% static 'js/followers.js' %}"></script>
{% endblock %}
