{% extends 'base.html' %}
{% load i18n static %}

{% block content %}
  <div>
    <button class="btn btn-primary form-control col-sm-5 col-md-4"
            @click="loadFollowers">{% trans 'Load followers' %}</button>
    <br><br>
    <button class="btn btn-primary form-control col-sm-5 col-md-4"
            @click="updateFollowers">{% trans 'Update followers' %}</button>
    <br><br>
    <button class="btn btn-primary form-control col-sm-5 col-md-4"
            @click="loadMedias">{% trans 'Load medias' %}</button>
    <br><br>
    <button class="btn btn-primary form-control col-sm-5 col-md-4"
            @click="loadLikes">{% trans 'Load likes' %}</button>
    <br><br>
    <div v-cloak>
      <div v-for="follower in followers">[[ follower.name ]] - [[ follower.number_likes ]]</div>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script>
    'use strict';

    urls.urlLoadFollowers = '{% url 'load_followers' %}';
    urls.urlUpdateFollowers = '{% url 'update_followers' %}';
    urls.urlLoadMedias = '{% url 'load_medias' %}';
    urls.urlLoadLikes = '{% url 'load_likes' %}';

    vars.followers = JSON.parse('{{ followers|safe }}');
  </script>
  <script src="{% static 'js/followers.js' %}"></script>
{% endblock %}

