{% extends 'base.html' %}
{% load i18n static %}

{% block content %}
  <div class="row">
    <div class="col-sm-3">
      <table class="table">
        <tr>
          <td>{% trans 'Total images' %}</td>
          <td>{{ images_count }}</td>
        </tr>
        <tr>
          <td>{% trans 'Total videos' %}</td>
          <td>{{ videos_count }}</td>
        </tr>
        <tr>
          <td>{% trans 'Total followers' %}</td>
          <td>{{ followers_count }}</td>
        </tr>
        <tr>
          <td>{% trans 'Total following' %}</td>
          <td>{{ following_count }}</td>
        </tr>
        <tr>
          <td colspan="2">
          </td>
        </tr>
        <tr>
          <td>{% trans 'Percentage of likes from followers' %}</td>
          <td>{{ likes_followers_percentage }}%</td>
        </tr>
        <tr>
          <td colspan="2">
          </td>
        </tr>
        <tr>
          <td>{% trans 'Total likes' %}</td>
          <td>{{ likes_count }}</td>
        </tr>
        <tr>
          <td>{% trans 'Average likes per media' %}</td>
          <td>{{ likes_average }}</td>
        </tr>
        <tr>
          <td colspan="2">
          </td>
        </tr>
        <tr>
          <td>{% trans 'Total videos views' %}</td>
          <td>{{ videos_views_count }}</td>
        </tr>
        <tr>
          <td>{% trans 'Average views per video' %}</td>
          <td>{{ views_average }}</td>
        </tr>
      </table>
    </div>
  </div>
{% endblock %}
