{% extends 'base.html' %}
{% load i18n static %}

{% block content %}
  <div>
    <button class="btn btn-primary form-control"
            @click="load">{% trans 'Load medias' %}</button>
    <button class="btn btn-primary form-control"
            @click="loadLikes">{% trans 'Load likes' %}</button>
    <p>{% trans 'Only medias which are missing tags, text or location are shown here' %}.</p>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-sm-5">
          <table v-cloak class="table">
            <tr>
              <th>{% trans 'Image' %}</th>
              <th>{% trans 'No text' %}</th>
              <th>{% trans 'No tags' %}</th>
              <th>{% trans 'No location' %}</th>
              <th>{% trans 'Actions' %}</th>
            </tr>
            <tr v-for="media in medias" v-show="hasIssue(media)">
              <td><img :src="media.image" class="media-image"></td>
              <td><input type="checkbox" :checked="media.noText" disabled></td>
              <td><input type="checkbox" :checked="media.noTags" disabled></td>
              <td><input type="checkbox" :checked="media.noLocation" disabled></td>
              <td><button class="btn btn-primary form-control btn-update-media" @click="update(media)">{% trans 'Update media' %}</button></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script>
    'use strict';

    urls.medias = '{% url 'medias' %}';
    urls.loadMedias = '{% url 'load_medias' %}';
    urls.media = '{% url 'media' %}';
    urls.loadLikes = '{% url 'load_likes' %}';

    vars.medias = JSON.parse('{{ medias|safe }}');
  </script>
  <script src="{% static 'js/medias.js' %}"></script>
{% endblock %}
