{% extends 'base.html' %}
{% load i18n static %}

{% block content %}
  <div>
    <button class="btn btn-primary form-control"
            @click="load">{% trans 'Load / Update medias' %}</button>
    <button class="btn btn-primary form-control"
            @click="loadLikes">{% trans 'Load likes' %}</button>
    <br>
    <div class="container">
      <div class="row">
        <div>
          <div class="filters">
            <label for="show-issues-columns">{% trans 'Show issues columns' %}</label>
            <input id="show-issues-columns" type="checkbox" v-model="showIssuesColumns"><br>
            <label for="show-only-issues">{% trans 'Only shows medias with issues' %}</label>
            <input id="show-only-issues" type="checkbox" v-model="showOnlyIssues"><br>
          </div>
          <table v-cloak class="table">
            <tr>
              <th>{% trans 'Image' %}</th>
              <th v-show="showIssuesColumns">{% trans 'No caption' %}</th>
              <th v-show="showIssuesColumns">{% trans 'No tags' %}</th>
              <th v-show="showIssuesColumns">{% trans 'No location' %}</th>
              <th>{% trans 'Likes' %}</th>
              <th>{% trans 'Caption' %}</th>
              <th>{% trans 'Actions' %}</th>
            </tr>
            <tr v-for="media in medias" v-show="!(showOnlyIssues && !hasIssue(media))">
              <td><img :src="media.image" class="media-image"></td>
              <td v-show="showIssuesColumns"><input type="checkbox" :checked="media.noCaption" disabled></td>
              <td v-show="showIssuesColumns"><input type="checkbox" :checked="media.noTags" disabled></td>
              <td v-show="showIssuesColumns"><input type="checkbox" :checked="media.noLocation" disabled></td>
              <td>[[ media.likes ]]</td>
              <td>[[ media.caption ]]</td>
              <td><button class="btn btn-primary form-control btn-update-media" @click="update(media)">{% trans 'Update media' %}</button></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script>
    'use strict';

    urls.medias = '{% url 'medias' %}';
    urls.loadMedias = '{% url 'load_medias' %}';
    urls.media = '{% url 'media' %}';
    urls.loadLikes = '{% url 'load_likes' %}';

    vars.medias = JSON.parse('{{ medias|safe }}');
  </script>
  <script src="{% static 'js/medias.js' %}"></script>
{% endblock %}
