{% extends 'base.html' %}
{% load i18n static %}

{% block content %}
  <div>
    <form class="form-horizontal">
      <legend>{% trans 'Settings' %}</legend>
      <br>
      <div class="form-group row">
        <label class="col-form-label col-sm-2" for="lang">{% trans 'Language' %}:</label>
        <div class="col-sm-10" v-cloak>
          {% get_available_languages as LANGUAGES %}
          {% get_language_info_list for LANGUAGES as languages %}
          {% for language in languages %}
            <label class="radio mr-2 col-form-label">
              <input v-model="language" @change="savePreferences" type="radio" name="lang"
                     value="{{ language.code }}"> {{ language.name_local }}
            </label>
          {% endfor %}
        </div>
      </div>
    </form>
  </div>
{% endblock %}

{% block js %}
  <script>
    'use strict';

    urls.savePreferences = '{% url 'save_preferences' %}';
    vars.language = '{{ user.language }}';
  </script>
  <script src="{% static 'js/preferences.js' %}"></script>
{% endblock %}
